<script  type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @comanda.data %>
</p>

  

<p>
  <strong>Tavolo:</strong>
  <%= @comanda.tavolo %>
</p>
<p>
  <strong>Comanda:</strong>
  <p id=comanda><%= @comanda.id %></p>
</p>
<button type="button" class="btn btn-secondary btn-lg" onClick="Ricapitola()">Ricapitola</button>


<table class="table" id="table">
    <thead> 
    
  <th>Prodotto</th>

   <th>Quantità</th>
   <th>Modifiche</th>
 
      <th></th>
    </thead>
 
  <tbody id="tabbody">
    
  </tbody>
</table>

<script  >
(function ( $ ) {

	$.fn.bootstrapNumber = function( options ) {

		var settings = $.extend({
			upClass: 'default',
			downClass: 'default',
			upText: '+',
			downText: '-',
			center: true
			}, options );

		return this.each(function(e) {
			var self = $(this);
			var clone = self.clone(true, true);

			var min = self.attr('min');
			var max = self.attr('max');
			var step = parseInt(self.attr('step')) || 1;

			function setText(n) {
				if (isNaN(n) || (min && n < min) || (max && n > max)) {
					return false;
				}

				clone.focus().val(n);
				clone.trigger('change');
				return true;
			}

			var group = $("<div class='input-group'></div>");
			var down = $("<button type='button'>" + settings.downText + "</button>").attr('class', 'btn btn-' + settings.downClass).click(function() {
				setText(parseInt(clone.val() || clone.attr('value')) - step);
			});
			var up = $("<button type='button'>" + settings.upText + "</button>").attr('class', 'btn btn-' + settings.upClass).click(function() {
				setText(parseInt(clone.val() || clone.attr('value')) + step);
			});
			$("<span class='input-group-btn'></span>").append(down).appendTo(group);
			clone.appendTo(group);
			if(clone && settings.center) {
				clone.css('text-align', 'center');
			}
			$("<span class='input-group-btn'></span>").append(up).appendTo(group);

			// remove spins from original
			clone.prop('type', 'text').keydown(function(e) {
				if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
					(e.keyCode == 65 && e.ctrlKey === true) ||
					(e.keyCode >= 35 && e.keyCode <= 39)) {
					return;
				}
				if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
					e.preventDefault();
				}

				var c = String.fromCharCode(e.which);
				var n = parseInt(clone.val() + c);

				if ((min && n < min) || (max && n > max)) {
					e.preventDefault();
				}
			});

			self.replaceWith(group);
		});
	};
} ( jQuery ));</script>

 

           <script>

  
                      $.ajax({
                          url: "/prodottos.json",
                          dataType: "json",
                          timeout: 800000,
                          cache: true}).done(function (o) {
                          for (var i = 0; i < o.length; i++)
                          {
                           
                             $('#tabbody').append('<tr><td class="name">' + o[i].nome + '</td><td><input type="number" size="4" value=0 class="qty" ></td><td><input type="text" size="10" value="" class="txt"></td><td><input type="hidden" class="id" value="'+o[i].id+'"></td></tr> ');
                             
                             
                         }
                          var table=$('#table').DataTable({
                              "paging": false
                          });
                          
                            $('.qty').bootstrapNumber();
                      });

  




function Ricapitola() {  
    $('#table2').find("tr:gt(0)").remove();
    
    $('#table > tbody  > tr').each(function() {
        if($(this).find('.qty').val() >0)
        {
            console.log($(this).find('.name').html()+" -"+$(this).find('.qty').val()+"-"+$(this).find('.txt').val()+"-"+$(this).find('.id').val());
          
            $('#ricap').append("<tr><td>"+$(this).find('.name').html()+"<td><td>"+$(this).find('.qty').val()+"<td><td>"+$(this).find('.txt').val()+"<td></tr>");
        }
    });
    $("#myModal").modal()
 
}
function Invia() {
       $('#table > tbody  > tr').each(function() {
        if($(this).find('.qty').val() >0)
        {
            console.log($(this).find('.name').html()+" -"+$(this).find('.qty').val()+"-"+$(this).find('.txt').val()+"-"+$(this).find('.id').val());
         
         $.ajax({
    type: 'POST',
    // make sure you respect the same origin policy with this url:
    // http://en.wikipedia.org/wiki/Same_origin_policy
    url: '/riga_comandas',
    data: { 
        
        'riga_comanda[id_comanda]': $("#comanda").html(), 
        'riga_comanda[id_prodotto]': $(this).find('.id').val() ,
        'riga_comanda[quantit]':$(this).find('.qty').val(),
        'riga_comanda[consegnata]': 0,
        'riga_comanda[modifiche]':$(this).find('.txt').val()
    }
    
});
         
         
          }
    });
 
}
</script>
<style>
input[type="number"] {
   width:20px;
}
</style>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ricapitolando: </h4>
        </div>
        <div class="modal-body">
            <table class="table" id="table2">
                <th>Nome</th>
                <th>Qtà</th>
                <th>Modifiche</th>
                <tbody id="ricap">
                    
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
<button type="button" class="btn btn-primary btn-lg" onClick="Invia()">Invia </button>
        </div>
      </div>
      
    </div>
  </div>