<div class="alert alert-success" role="alert">
  Il tavolo con tutte le sue comande è stato cancellato correttamente! 
</div>
<a  class="btn btn-primary btn-lg btn-block" href="/cassa">Torna Alla Cassa</a>